/* .App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

input {
    width: 80%;
    height: 50px;
    padding: 0 15px;
    border: 2px solid #a3222c
}

.App-header {
    background-color: #ffff;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: calc(10px + 2vmin);
}

h2 {
    color: #282c34;
} */

.py-5 {
    padding-top: 3rem!important;
    padding-bottom: 3rem!important;
}

@media (min-width: 1200px) {
    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl {
        max-width: 1140px;
    }
}

.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
    width: 100%;
    padding-right: .75rem;
    padding-left: .75rem;
    margin-right: auto;
    margin-left: auto;
}

h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    font-weight: 400;
}

.mb-5 {
    margin-bottom: 3rem!important;
}

form {
    display: block;
    margin-top: 0em;
}

input {
    height: 50px;
    width: 100%;
    outline: none;
    border: 2px solid rgb(227, 227, 227);
    border-radius: 10px;
    padding: 0px 15px;
}

.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y) * -1);
    margin-right: calc(var(--bs-gutter-x) * -.5);
    margin-left: calc(var(--bs-gutter-x) * -.5);
}

@media (min-width: 992px) {
    .col-lg-3 {
        flex: 0 0 auto;
        width: 25%;
    }
}

.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    flex-shrink: 0;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-top: var(--bs-gutter-y);
}

.align-items-center {
    align-items: center!important;
}

.justify-content-between {
    justify-content: space-between!important;
}

.d-flex {
    display: flex!important;
}

.mb-0 {
    margin-bottom: 0 !important;
}

h6 {
    font-size: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
}

.photo {
    width: 100%;
    height: 300px;
    object-fit: cover;
    cursor: pointer;
}

.mb-3 {
    margin-bottom: 1rem !important;
}

img {
    vertical-align: middle;
}

*,
 ::after,
 ::before {
    box-sizing: border-box;
}